@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400; /* You can adjust this to your preferred default weight */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input[type="number"].no-arrows::-webkit-outer-spin-button,
input[type="number"].no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the arrows in Firefox */
input[type="number"].no-arrows {
  -moz-appearance: textfield;
}
